{% load thumbnail %}
{% load cache %}
<article>
    <ul>
      <li>
        Автор: @{{ post.author }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>
      {{ post.text|linebreaksbr }}
    </p>
    {% thumbnail post.image "960x960" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    {% if show_post and post.group %}
      <a 
        href="{% url 'posts:group_list' post.group.slug %}">Все записи группы
      </a>
    {% endif %}
    <p>
      <a
        href="{% url 'posts:post_detail' post.pk %}">Страница поста
      </a>
    </p>
</article>