{% extends "base.html" %}

{% block content %}
<div class="row">
  <h2>
    Всем привет!&#128075;
  </h2>
  <article class="col-12 col-md-20">
    <p>
    <font size="6">
      С вами автор проекта - Алексей Коренков! Это мой первый проект, здесь я буду рад видеть ваши посты, комментарии, пожелания. 
      Оформление знаю не очень, может когда нибудь им займусь, всех обнял	&#128591;
    </font>
    </p>
  </div>
  <font size="5">  
<a 
  href="https://t.me/Korenkov_AA">Telegram &#129305;
</a>
</font>
{% endblock %} 
