{% extends "base.html" %}

{% block content %}
<div class="row">
  <h3>
    Учебный проект: "Социальная сеть с авторизацией и комментариями"
  </h3>
  <article class="col-12 col-md-5">
    <p>
    Для написания данного проекта, мне потребовалось:
    </p>
  </article>
</div>
  <aside class="col-12 col-md-10">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Изучить основы ООП (Объектно-ориентированное програмирование);
      </li>
      <li class="list-group-item">
        Разобраться в основах HTML и вёрстки для бэкенд-разработчика;
      </li>
      <li class="list-group-item">
        Создать основу для Django-проекта и добавить в него новые приложения;
      </li>
      <li class="list-group-item">
        Применить MVC (Model-view-controller) на практике;
      </li>
      <li class="list-group-item">
        Использовать шаблонизатор Django;
      </li>
      <li class="list-group-item">
        Работать с базами данных;
      </li>
      <li class="list-group-item">
        Освоить Django ORM (Object Relational Mapping);
      </li>
      <li class="list-group-item">
        Написать тесты с помощью библиотеки Unittest;
      </li>
      <li class="list-group-item">
        Задеплоить проект в облако;
      </li>
      <li class="list-group-item">
    </ul>
  </aside>
  <article class="col-12 col-md-10">
    <p>
      Инструменты и стек: #python #Git #GitHub #VSCode #Flake8 #HTML #CSS #Django #Bootstrap #Unittest #Pythonanywhere
    </p>
  </article>
{% endblock %}